/* Responsive Design (Phone) */
@media only screen and (max-width: 450px) {

    /* ------------------------------------------------------------------------------- HEADER -------------------------------------------------------------------------------------- */
    header {
        display: flex;
        background-color: var(--color-background);
        border-bottom: 1px solid #e4e4e4;
        box-shadow: none; /* Subtle shadow */
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        padding: 5%; 
    }
    
    header #logo {
        position: relative;
        max-width: 150px;
        z-index: 1002;
    }
    
    /* Hamburguesa */
    .hamburger{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 40px;
        height: 40px;
        right: 5dvw;
        padding: 9px;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        background-color: #ffffff;
        border: 1px solid #DDDDDD !important;
        border-radius: 40px !important;
        justify-content: center;
    }

    .hamburger.is-active{
    background-color:none;
    }

    ._layer{
        background: black;
        margin-bottom:2px;
        border-radius:2px;
        width:20px;
        height:2px;
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top{
        -webkit-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        transform:translateY(-100%);
    }

    .hamburger:hover .-bottom{
        -webkit-transform:translateY(50%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
    }

    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid{
        opacity:0;
    }

    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }


    /* Menú */
    .menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
    }

    .menuppal{
    background-color: white;
        bottom: 0;
        height: 100%;
        padding-top: 40%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }

    .menuppal ul li { 
        display: flex;
        list-style: none;
        text-align:left;
        padding: 0 6%;
        font-size: 1.2rem;
        line-height: 3em;
        height: 3em;
        color: #000;
        text-transform:none;
        align-items: center;
        justify-content: space-between;
    }

    .menuppal ul li a{
        text-decoration:none;
        color:var(--color-font);
        font-size: 4.5vw;
    }

    .menuppal ul li a:hover{
        text-decoration:none;
        color:var(--color-font);
    }

    .menuppal ul li div{
        width: 80%;
    }

    .menuppal ul li svg{
        color:var(--color-font);
    }

    .fa-icon {
        width: 10%;
    }

    #menu-lista {
        display: none; /* Oculto por defecto en móviles */
        flex-direction: column;
        position: absolute;
        top: 0vw;
        left: -73vw;
        width: 100vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(26, 26, 26);
        z-index: 1;
    }

    #menu-lista.mostrar {
        display: block; /* Visible cuando se activa la clase 'mostrar' */
    }

    #menu-lista li {
        width: 100vw;
        text-align: center;
    }
    
    /* --------------------------------------------------------------------------------- MAIN -------------------------------------------------------------------------------------- */


    /* Main Styles */
    main {
        display: flex;
        flex-direction: column;
    }

    /* --------------------------------------------------------------------------------- HERO -------------------------------------------------------------------------------------- */

    .hero-section{
        display: flex;
        height: 91.2dvh;
        padding: 5%;
        margin-bottom: 5%;
        flex-direction: column;
    }
    
    .info-container {
        width: 100%;
        position: relative; 
        text-align: center; /* Centra el contenido dentro del article */
        font-weight: 400;
    }

    .info-container h2{
        font-size: 8dvw;
        font-weight: 500;
        line-height: 1.2;
    }

    .info-container p{
        font-size: 4.3dvw;
    }

    .info-container svg{
        position: relative;
        width: 10dvw;
        top: 2dvw;
    }

    /* Modelo 3D Animación */
    model-viewer {
        width: 100%;
        height: 100vh; /* O ajusta a lo que necesites */
    }

    #buttons-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        row-gap: 12px;
    }

    .btn-whatsapp {
        color: black;
        background-color: #25D366;
    }
    
    .btn-whatsapp:hover {
        background-color: #21b959;
    }
  
    .btn-whatsapp:focus {
        background-color: #21b959;
    }
  
    .fa-whatsapp{
        font-size: 1.8em;
        margin-right: 3%;
    }

    .btn-airbnb {
        color: black;
        background-color: #FF5A5F;
    }
    
    .btn-airbnb:hover {
        background-color: #bf4448;
    }
  
    .btn-airbnb:focus {
        background-color: #bf4448;
    }

    .btn-airbnb svg{
        font-size: 2rem;
        color: black;
        margin-right: 2%;
    }

    /* --------------------------------------------------------------------------------- PROFILE SECTION -------------------------------------------------------------------------------------- */

    .profile-section{
        display: flex;
        padding: 10% 0;
        flex-direction: column;
        background: var(--color-background);
        margin: auto;
        overflow: hidden;
        border-top: 1px solid #EBEBEB;
        max-width: 90%; 
    }
    
    .profile-photo {
        width: 156px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 auto 1rem auto;
        object-fit: cover;
        box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 16%);
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
        color: var(--color-font);
    }

    .location {
        text-align: center;
        font-size: 0.875rem;
        color: var(--color-font);
        margin-top: 0.2rem;
    }

    .intro {
        text-align: center;
        font-size: .9rem;
        color: #444;
        margin: 1rem 0;
    }

    .stats {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .stats div {
        flex: 1 0 0;
        font-size: 0.75rem;
        color: var(--color-font);
    }

    .calification-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .calification-div svg{
        margin-right: 5px;
    }

    .stats strong {
        font-size: 1rem;
        color: var(--color-font);
    }

    .achievements {
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        gap: 1.2rem;
        border-top: 1px solid #EBEBEB;
    }

    .achievement {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .achievement svg {
        display: block;
        width: 40px;
        height: auto;
    }

    .achievement h3 {
        font-size: .9rem;
        margin: 0;
        color: var(--color-font);
        font-weight: 500;
    }

    .achievement p {
        font-size: 0.85rem;
        margin-top: 0.2rem;
        color: #666;
    }
        
    /* -------------------------------------------------------------------------------- SERVICES SECTION -------------------------------------------------------------------------------------- */

    .services-section{
        display: flex;
        padding: 8% 0;
        flex-direction: column;
        background: var(--color-background);
        margin: auto;
        overflow: hidden;
        border-top: 1px solid #EBEBEB;
        max-width: 90%; 
    }

    .services{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .service{
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .service img {
        display: block;
        width: 40px;
        height: auto;
        margin: 3% 0 0 3%;
    }

    .service h3 {
        font-size: .9rem;
        margin: 0;
        color: var(--color-font);
        font-weight: 500;
    }

    .service p {
        font-size: 0.85rem;
        margin-top: 0.2rem;
        color: #666;
    }

    /* -------------------------------------------------------------------------------- REVIEWS SECTION -------------------------------------------------------------------------------------- */

    .reviews-section{
        display: flex;
        padding: 8% 0;
        flex-direction: column;
        background: var(--color-background);
        margin: auto;
        overflow: hidden;
        border-top: 1px solid #EBEBEB;
        max-width: 90%; 
    }

    .reviews-scroller{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .review-card{
        
    }

    .review-stars-date{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .review-photo {
        width: 50px;
        height: auto;
        border-radius: 50%;
        display: block;
        margin: 0 ;
        object-fit: cover;
    }

    .review p {
        font-size: 0.85rem;
        margin-top: 0.2rem;
        color: #666;
    }

    /* -------------------------------------------------------------------------------- ? SECTION -------------------------------------------------------------------------------------- */


    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* ---------------------------------------------------------------------------- FOOTER -------------------------------------------------------------------------------------- */
    
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    
    footer a{
        color: #fff;
    }
}