/* General Styles */
* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
  }
  
  body {
    position: relative; /* Establece el body como contenedor relativo */
    margin: 0; /* Quita los márgenes por defecto del body */
    font-family: "Poppins", sans-serif; /* Choose a good font */
    font-weight: 400;
    line-height: 1.6; /* Improve readability */
    color: black; /* Dark gray text color */
    background-color: #f4f4f4; /* Light gray background */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: white; 
    text-decoration: none; /* Remove link underline */
  }
  
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  h1, h2, h3 {
    margin-bottom: 1rem; /* Space below headings */
  }
  
  ul {
    list-style: none; /* Remove default bullet points from lists */
  }

/* Responsive Design (Phone) */
@media only screen and (max-width: 425px) {

    body{margin:0;padding:0;}
    .hamburger{
        background-color:transparent;
        padding-top: 1.5%;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index:1002;
        cursor:pointer;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    .hamburger.is-active{
    background-color:none;
    }
    ._layer{
        background: black;
        margin-bottom:4px;
        border-radius:2px;
        width:28px;
        height:4px;
        opacity:1;
        -webkit-transform:translate3d(0, 0, 0);
        transform:translate3d(0, 0, 0);
        -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger:hover .-top{
        -webkit-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    .hamburger:hover .-bottom{
        -webkit-transform:translateY(50%);
        -ms-transform:translateY(100%);
        transform:translateY(100%);
        }
    .hamburger.is-active .-top{
        -webkit-transform:translateY(200%) rotate(45deg) !important;
        -ms-transform:translateY(200%) rotate(45deg) !important;
        transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
        opacity:0;
    }
    .hamburger.is-active .-bottom{
        -webkit-transform:translateY(-200%) rotate(135deg) !important;
        -ms-transform:translateY(-200%) rotate(135deg) !important;
        transform:translateY(-200%) rotate(135deg) !important;
    }

    .menuppal.is_active{
    transform: translate3d(0px, 0px, 0px);
    }
    .menuppal{
    background-color: rgba(255, 255, 255);
        bottom: 0;
        height: 100%;
        padding-top: 40%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menuppal ul{
        margin:0;padding:0;
    }
    .menuppal ul li { 
        display: flex;
        list-style: none;
        text-align:left;
        padding: 0 6%;
        font-family: "Poppins", sans-serif; 
        font-size: 1.2rem;
        line-height: 3em;
        height: 3em;
        color: #000;
        text-transform:none;
        align-items: center;
        justify-content: space-between;
    }

    .menuppal ul li a{
        text-decoration:none;
        color:rgb(0, 0, 0);
    }

    .menuppal ul li a:hover{
        text-decoration:none;
        color:#000;
    }

    .menuppal ul li div{
        width: 80%;
    }

    .menuppal ul li svg{
        color:#000;
    }

    .fa-icon {
        width: 10%;
    }


    /* Header Styles */
    header {
        position: absolute;
        display: flex;
        color: #fff; /* White text color in header */
        box-shadow: none; /* Subtle shadow */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5%;
        z-index: 2;
    }
    
    header img {
        position: relative;
        max-width: 40%;
        z-index: 1002;
    }

    header h1 {
        margin-top: 1rem;
    }
    
    a {
        font-size: 4.5vw;
    }

    nav {
        position: relative;
        text-align: center;
    }

    nav ul {
        display: flex; /* Arrange list items horizontally */
        justify-content: center; /* Center the items */
        flex-direction: column;
    }

    #menu-lista {
        display: none; /* Oculto por defecto en móviles */
        flex-direction: column;
        position: absolute;
        top: 0vw;
        left: -73vw;
        width: 100vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(26, 26, 26);
        z-index: 1;
    }

    #menu-lista.mostrar {
        display: block; /* Visible cuando se activa la clase 'mostrar' */
    }

    #menu-lista li {
        width: 100vw;
        text-align: center;
    }

    /* Main Styles */
    main {
        display: flex;
        position: relative; /* Needed for absolute positioning of the video */
        overflow: hidden; /* Hide any overflow from the video */
        width: 100vw;
        height: 100vh;
    }

    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* Ancho completo de la ventana gráfica */
        height: 100vh; /* Alto completo de la ventana gráfica */
        overflow: hidden; /* Oculta cualquier desbordamiento */
        z-index: -1; /* Coloca el video detrás del contenido */
    }

    #video-background video {
        position: absolute; /* Importante para el ajuste proporcional */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%); /* Centra el video correctamente */
        object-fit: cover;
    }

    #video-background img {
        position: absolute; /* Importante para el ajuste proporcional */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%); /* Centra el video correctamente */
        object-fit: cover;
    }

    .main-content{
        display: flex;
        position: relative;
        padding: 15% 5% 8%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    article {
        width: 100%;
        position: relative; 
        text-align: center; /* Centra el contenido dentro del article */
        padding: 5% 3%;
        font-weight: 400
    }

    article h2{
       font-weight: 700
    }

    .buttons-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        row-gap: 2vh;
    }

    .btn{
        display: flex;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 60px;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
        text-decoration: none; /* Elimina el subrayado */ 
    }  

    .btn:hover {
        transform: scale(1.02); /* Aumenta el tamaño del botón en un 10% */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .btn:focus {
        transform: scale(1.02); /* Aumenta el tamaño del botón en un 10% */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .btn-whatsapp {
        color: black;
        background-color: #25D366;
    }
    
    .btn-whatsapp:hover {
        background-color: #21b959;
    }
  
    .btn-whatsapp:focus {
        background-color: #21b959;
    }
  
    .fa-whatsapp{
        font-size: 1.8rem;
        margin-right: 3%;
    }

    .btn-airbnb {
        color: black;
        background-color: #FF5A5F;
    }
    
    .btn-airbnb:hover {
        background-color: #bf4448;
    }
  
    .btn-airbnb:focus {
        background-color: #bf4448;
    }

    .btn-airbnb svg{
        font-size: 2rem;
        color: black;
        margin-right: 2%;
    }
    
    section{
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Footer Styles */
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    footer a{
        color: #fff;
    }
}

/* Responsive Design (Tablet) */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    /* Header Styles */
    header {
        display: flex;
        color: #fff; /* White text color in header */
        padding: 1.5rem 3rem; /* Add padding */
        box-shadow: none; /* Subtle shadow */
        position: absolute;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    
    header img {
        position: relative;
        max-width: 15%;
        top: -.2vw;
    }

    header h1 {
        margin-top: 1rem;
    }

    nav {
        text-align: center;
    }

    nav ul {
        display: flex; /* Arrange list items horizontally */
        justify-content: center; /* Center the items */
    }
    
    /* Main Styles */
    main {
        position: relative; /* Needed for absolute positioning of the video */
        overflow: hidden; /* Hide any overflow from the video */
        width: 100%;
        min-height: 100vh; /* Ensure main takes up at least full viewport height */
    }

    .video-element {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop or stretch the video to cover the container */
        object-position: center; /* Center the video */
    }
    
    article {
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    section{
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Footer Styles */
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    footer a{
        color: #fff;
    }
}
  
/* Responsive Design (Desktop) */
@media only screen and (min-width: 769px) {
    body{margin:0;padding:0;}
    /* Background Styles */
    #video-background img {
        display: none;
    }

    .hamburger{
        display: none;
    }

    /* Header Styles */
    header {
        position: absolute;
        display: flex;
        color: #fff; /* White text color in header */
        box-shadow: none; /* Subtle shadow */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5%;
        z-index: 2;
    }
    
    header img {
        position: relative;
        max-width: 40%;
        z-index: 1002;
    }

    header h1 {
        margin-top: 1rem;
    }
    
    a {
        font-size: 4.5vw;
    }

    nav {
        position: relative;
        text-align: center;
    }

    nav ul {
        display: flex; /* Arrange list items horizontally */
        justify-content: center; /* Center the items */
        flex-direction: column;
    }

    #menu-lista {
        display: none; /* Oculto por defecto en móviles */
        flex-direction: column;
        position: absolute;
        top: 0vw;
        left: -73vw;
        width: 100vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(26, 26, 26);
        z-index: 1;
    }

    #menu-lista.mostrar {
        display: block; /* Visible cuando se activa la clase 'mostrar' */
    }

    #menu-lista li {
        width: 100vw;
        text-align: center;
    }

    /* Main Styles */
    main {
        display: flex;
        position: relative; /* Needed for absolute positioning of the video */
        overflow: hidden; /* Hide any overflow from the video */
        width: 100vw;
        height: 100vh;
    }

    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* Ancho completo de la ventana gráfica */
        height: 100vh; /* Alto completo de la ventana gráfica */
        overflow: hidden; /* Oculta cualquier desbordamiento */
        z-index: -1; /* Coloca el video detrás del contenido */
    }

    #video-background video {
        position: absolute; /* Importante para el ajuste proporcional */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%); /* Centra el video correctamente */
        object-fit: cover;
    }

    #video-background img {
        position: absolute; /* Importante para el ajuste proporcional */
        top: 50%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%); /* Centra el video correctamente */
        object-fit: cover;
    }

    .main-content{
        display: flex;
        position: relative;
        padding: 15% 5% 8%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    article {
        width: 100%;
        position: relative; 
        text-align: center; /* Centra el contenido dentro del article */
        padding: 5% 3%;
        font-weight: 400
    }

    article h2{
       font-weight: 700
    }

    .buttons-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        row-gap: 2vh;
    }

    .btn{
        display: flex;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 60px;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
        text-decoration: none; /* Elimina el subrayado */ 
    }  

    .btn:hover {
        transform: scale(1.02); /* Aumenta el tamaño del botón en un 10% */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .btn:focus {
        transform: scale(1.02); /* Aumenta el tamaño del botón en un 10% */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .btn-whatsapp {
        color: black;
        background-color: #25D366;
    }
    
    .btn-whatsapp:hover {
        background-color: #21b959;
    }
  
    .btn-whatsapp:focus {
        background-color: #21b959;
    }
  
    .fa-whatsapp{
        font-size: 1.8rem;
        margin-right: 3%;
    }

    .btn-airbnb {
        color: black;
        background-color: #FF5A5F;
    }
    
    .btn-airbnb:hover {
        background-color: #bf4448;
    }
  
    .btn-airbnb:focus {
        background-color: #bf4448;
    }

    .btn-airbnb svg{
        font-size: 2rem;
        color: black;
        margin-right: 2%;
    }
    
    section{
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Footer Styles */
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    footer a{
        color: #fff;
    }
}