:root {
  --color-primary: white;
  --color-airbnb: #FF5A5F;

  --color-font-primary: black;
  --color-font-secundary: #5c5c5c;

  --color-background: white;

  --font-main: "Poppins", sans-serif;

}
