/* General Styles */
#menu-toggle {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    margin: 7vw 10vw 0 10vw;
    cursor: pointer;
    z-index: 2;
}

.linea {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

#menu-toggle:hover .linea:first-child,
#menu-toggle:hover .linea:last-child {
    width: 70%;
}

#menu-lista {
    list-style: none;
    display: flex;
    padding: 30vw 0;
    margin: 0;
    
}

#menu-lista li {
    margin-right: 20px;
}

* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
  }
  
  body {
    font-family: Arial, sans-serif; /* Choose a good font */
    line-height: 1.6; /* Improve readability */
    color: #333; /* Dark gray text color */
    background-color: #f4f4f4; /* Light gray background */
  }
  
  a {
    color: white; /* Blue link color */
    text-decoration: none; /* Remove link underline */
  }
  
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  h1, h2, h3 {
    margin-bottom: 1rem; /* Space below headings */
  }
  
  ul {
    list-style: none; /* Remove default bullet points from lists */
  }
  
/* Responsive Design (Desktop) */
@media only screen and (min-width: 1024px) {
    /* Header Styles */
    header {
        display: flex;
        color: #fff; /* White text color in header */
        padding: 3rem 5rem; /* Add padding */
        box-shadow: none; /* Subtle shadow */
        position: absolute;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    
    header img {
        position: relative;
        max-width: 15%;
        top: -.5vw;
    }

    header h1 {
        margin-top: 1rem;
    }
    
    a {
        font-size: 1.2vw;
    }

    nav {
        text-align: center;
    }

    nav ul {
        display: flex; /* Arrange list items horizontally */
        justify-content: center; /* Center the items */
    }
    
    /* Main Styles */
    main {
        position: relative; /* Needed for absolute positioning of the video */
        overflow: hidden; /* Hide any overflow from the video */
        width: 100%;
        min-height: 100vh; /* Ensure main takes up at least full viewport height */
    }

    .video-element {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop or stretch the video to cover the container */
        object-position: center; /* Center the video */
    }
    
    article {
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    section{
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Footer Styles */
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    footer a{
        color: #fff;
    }
} 

/* Responsive Design (Tablet) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Header Styles */
    header {
        display: flex;
        color: #fff; /* White text color in header */
        padding: 1.5rem 3rem; /* Add padding */
        box-shadow: none; /* Subtle shadow */
        position: absolute;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    
    header img {
        position: relative;
        max-width: 15%;
        top: -.2vw;
    }

    header h1 {
        margin-top: 1rem;
    }
    
    a {
        font-size: 1.5vw;
    }

    nav {
        text-align: center;
    }

    nav ul {
        display: flex; /* Arrange list items horizontally */
        justify-content: center; /* Center the items */
    }
    
    /* Main Styles */
    main {
        position: relative; /* Needed for absolute positioning of the video */
        overflow: hidden; /* Hide any overflow from the video */
        width: 100%;
        min-height: 100vh; /* Ensure main takes up at least full viewport height */
    }

    .video-element {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop or stretch the video to cover the container */
        object-position: center; /* Center the video */
    }
    
    article {
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    section{
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Footer Styles */
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    footer a{
        color: #fff;
    }
}

/* Responsive Design (Phone) */
@media only screen and (max-width: 767px) {
    #menu-toggle {
        display: flex;
    }

    #menu-lista {
        display: none; /* Oculto por defecto en móviles */
        flex-direction: column;
        position: absolute;
        top: 0vw;
        left: -73vw;
        width: 100vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(26, 26, 26);
        z-index: 1;
    }

    #menu-lista.mostrar {
        display: block; /* Visible cuando se activa la clase 'mostrar' */
    }

    #menu-lista li {
        width: 100vw;
        text-align: center;
        padding: 7vw 0;
    }

    #menu-lista {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #menu-lista.mostrar {
        display: block;
    }

    #menu-lista li {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    /* Animación de la "X" */
    #menu-toggle.activo .linea {
        background-color: white; /* Color blanco cuando está activo */
    }
    
    #menu-toggle.activo .linea:first-child {
        transform: rotate(45deg) translate(5px, 6px);
    }

    #menu-toggle.activo .linea:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle.activo .linea:last-child {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    /* Reset de la animación de la "X" */
    #menu-toggle .linea:first-child {
        transform: rotate(0deg) translate(0, 0);
    }

    #menu-toggle .linea:nth-child(2) {
        opacity: 1;
    }

    #menu-toggle .linea:last-child {
        transform: rotate(0deg) translate(0, 0);
    }
    
    /* Header Styles */
    header {
        display: flex;
        color: #fff; /* White text color in header */
        box-shadow: none; /* Subtle shadow */
        position: absolute;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }
    
    header img {
        position: relative;
        max-width: 40%;
        margin: 5vw;
    }

    header h1 {
        margin-top: 1rem;
    }
    
    a {
        font-size: 5vw;
    }

    nav {
        position: relative;
        text-align: center;
    }

    nav ul {
        display: flex; /* Arrange list items horizontally */
        justify-content: center; /* Center the items */
    }

    #menu-lista {
        display: none; /* Oculto por defecto en móviles */
        flex-direction: column;
        position: absolute;
        top: 0vw;
        left: -73vw;
        width: 100vw;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: rgb(26, 26, 26);
        z-index: 1;
    }

    #menu-lista.mostrar {
        display: block; /* Visible cuando se activa la clase 'mostrar' */
    }

    #menu-lista li {
        width: 100vw;
        text-align: center;
    }

    /* Main Styles */
    main {
        position: relative; /* Needed for absolute positioning of the video */
        overflow: hidden; /* Hide any overflow from the video */
        width: 100%;
        min-height: 100vh; /* Ensure main takes up at least full viewport height */
    }

    .video-element {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Crop or stretch the video to cover the container */
        object-position: center; /* Center the video */
    }
    
    article {
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    section{
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Aside Styles */
    aside {
        padding: 1rem;
        background-color: #eee; /* Light gray background */
        margin-bottom: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    /* Footer Styles */
    footer {
        background: #333; /* Dark background */
        color: #fff; /* White text */
        text-align: center; /* Center text */
        padding: 1rem; /* Add padding */
    }
    footer a{
        color: #fff;
    }
}